<section class="about">
	<div class="container">
		<img src="/assets/img/headings/about-the-artist.svg" width="570" alt="About the Artist" class="mb8">

		<div class="row">
			<div class="grid3 about-lede">
				<p>Upper South Editions features the recent work of artist Laurence Rosen, who founded <a href="http://www.uppersouthstudio.com/">Upper South Studio</a> in 1979, and includes prints, drawings, photos of table top sculptures, posters and more.</p>
			</div>

			<div class="grid3 typeset">
				<p>With Editions, Rosen pivots back to his early career in the New York art&nbsp;world.</p>

				<p>After graduating from The Yale School of Art & Architecture, Laurence established Chiron Press on East 11th Street. It was one of the first blue chip, limited edition print shops in America. At Chiron Press, Laurence worked with Alexander Calder, Larry Rivers, Lee Krasner, Jules Olitski, Claes Oldenburg, Alex Katz, Tom Wesselmann, to name a&nbsp;few.</p>

				<p>During this period, Laurence was also the youngest member of the esteemed André Emmerich Gallery stable of artists that included David Hockney, Sam Francis, Helen Frankenthaler, Kenneth Noland, and&nbsp;Anthony&nbsp;Caro.</p>
			</div>
		</div>
	</div>
</section>
