<footer class="footer" role="contentinfo">
	<div class="container">
    <div class="row">

      <a href="http://www.uppersouthstudio.com/"><img src="/assets/img/logos/uss-logo.png" width="150" class="uss-logo" alt="Upper South Studio"></a>

      <div class="footer-meta">
        <div class="contact-info">
          <p class="address">330 South Main Street, Winston-Salem, NC 27101</p>  
          <p class="phone"><i>phone</i> 336 724 5480</p>
          <p class="copyright">© 2018 Laurence Rosen, All Rights Reserved</p>
        </div>

        <h5 class="footer-social-heading">Connect with USS</h5>
        <ul class="footer-nav">
          <li class="footer-social-item">
            <a href="https://www.facebook.com/Upper-South-Studio-110407796002/">
              <i class="iconz-facebook text-color" aria-hidden="true"></i>
              <span class="visuallyhidden">Facebook</span>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="https://twitter.com/uppersouths">
              <i class="iconz-twitter text-color" aria-hidden="true"></i>
              <span class="visuallyhidden">Twitter</span>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="https://www.linkedin.com/company/1033391/">
              <i class="iconz-linkedin text-color" aria-hidden="true"></i>
              <span class="visuallyhidden">LinkedIn</span>
            </a>
          </li>
        </ul>
      </div>

    </div>
	</div>
</footer>
