<header class="container" role="banner">
	<div class="topbar">
		<h1 class="use-logo"><a href="/"><img src="/assets/img/logos/use-logo.svg" width="690" alt="Upper South Editions"></a></h1>
		<h2 class="signature"><img src="/assets/img/logos/laurence-rosen-on-art.png" width="520" alt="Laurence Rosen on Art"></h2>
	</div>
</header>
