.footer {
	padding: rem(40) 0;
	font-size: rem(14);
}

.uss-logo {
	margin-top: rem(-90);

	@include respond-to(min-width, $mobile-up) {
		float: left;
	}
}

.footer-meta {
	@include respond-to(min-width, $mobile-up) {
		@include display-flex;
		@include justify-content(space-between);
		float: left;
		width: span(5);
		padding-left: rem(45);
	}
}

.footer-social-heading {
	font-weight: $font-weight-bold;
	font-style: normal;
  margin-top: rem(6);
  margin-right: rem(20);
	margin-left: auto;
	text-transform: uppercase;
	letter-spacing: tracking(150);
}

.footer-social-item {
	display: inline-block;
	margin-left: rem(10);
}
