@import "susy";

$susy: (
  columns: $total-columns,
  column-width: $column-width,
  gutters: $gutter-width / $column-width,
  container: $container-width,
  math: $container-style,
  global-box-sizing: border-box,
);

.container {
  @include container;
  padding-left: ($gutter-width / 2);
  padding-right: ($gutter-width / 2);
}

.row { @include pie-clearfix; }

@include respond-to(min-width, $mobile-up) {
  .grid1    { @include span(1); }
  .grid2    { @include span(2); }
  .grid3    { @include span(3); }
  .grid4    { @include span(4); }
  .grid5    { @include span(5); }
  .grid6    { @include span(6); }

  .push1  { @include pre(1); }
  .push2  { @include pre(2); }
  .push3  { @include pre(3); }
  .push4  { @include pre(4); }

  .prefix1   { @include prefix(1); }
  .suffix1   { @include suffix(1); }

  [class*="grid"]+[class*="grid"]:last-child:not(.not-last) { @include last; }
}

.centered {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important;
}
