// Fix
// Version 0.1.1
// https://github.com/jaydenseric/Fix
// Modified for need


iframe { border: 0; }

main { display: block; }

ul,ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

// li { display: block; }

dl { margin-top: 0; margin-bottom: 0; }
dd { margin-left: 0; }

blockquote {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

// sup {
//   position: relative;
//   top: -.5em;
//   vertical-align: baseline;
//   font-size: 75%;
//   line-height: 0;
// }

strong { font-weight: bold; }

figure { margin: 0; }

img {
  display: inline-block;
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  overflow: visible;
}

table {
  border-collapse: collapse;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
